@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
    text-shadow: 2px 2px 0px #ffff;
    mix-blend-mode: screen;
    animation: fadeIn 2.5s linear forwards;
  }
  
  @keyframes fadeIn {
      0% {
          opacity: 0
      }
  
      100% {
          opacity: 1;
      }
    }